<!DOCTYPE html>
<html>
  <head>
    <title>l-regon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <style>

      body {
        background-color: #EDE6DB;
      }

      .btn-primary {
        background-color: #EC994B;
        border-color: white;
        color: black;
      }

      .text-primary {
        color: #1D5C63 !important;
      }

      .text-secondary {
        color:  #DEA057 !important;
      }

      .progress-bar {
        background-color: #1D5C63;
      }

      .btn-primary:hover{
        background-color: #DEA057;
        border-color: white;
        color: black;
      }

      .btn-secondary {
        background-color: #417D7A;
        border-color: white;
      }

      .bg-1 {
        background-color: #1D5C63;
      }

      .link {
        color: red !important;
      }

    </style>
  </head>

  <body>
    <%= yield %>

    <div class="container">
      <footer class="py-3 my-4">
        <p class="text-center text-muted">© 2022 SIRS Leimena 🌱</p>
      </footer>
    </div>
  </body>
</html>
